.u-section-1 .u-sheet-1 {
  min-height: 752px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 79px;
  margin-bottom: 54px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 692px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 0 52px;
}

.u-section-1 .u-image-1 {
  width: 302px;
  height: 302px;
  background-image: url("images/Ting.jpeg");
  background-position: 50% 50%;
  margin: 34px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  margin: 34px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 45px;
  height: 45px;
  margin: 13px auto 0 110px;
}

.u-section-1 .u-icon-2 {
  width: 53px;
  height: 49px;
  margin: -47px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  width: 48px;
  height: 48px;
  margin: -49px 116px 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 619px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 36px;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 21px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 0 16px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 16px 16px 0 0;
}

.u-section-1 .u-text-5 {
  margin: 19px 401px 0 0;
}

.u-section-1 .u-text-6 {
  margin: -84px 90px 0 312px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 571px;
  }

  .u-section-1 .u-image-1 {
    width: 300px;
    height: 300px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 106px;
    margin-left: 91px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 11px;
  }

  .u-section-1 .u-icon-3 {
    margin-right: 95px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 510px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 17px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 287px;
    margin-left: 19px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 616px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-icon-1 {
    width: 38px;
    height: 38px;
    margin-top: 11px;
    margin-right: auto;
    margin-left: 59px;
    padding: 0;
  }

  .u-section-1 .u-icon-2 {
    width: 46px;
    height: 42px;
    margin-top: -40px;
  }

  .u-section-1 .u-icon-3 {
    width: 42px;
    height: 42px;
    margin-top: -42px;
    margin-right: 59px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 617px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 9px;
    margin-left: 18px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 17px;
    margin-right: 140px;
    margin-left: 17px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-right: 215px;
    margin-left: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 21px;
    margin-right: 208px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1136px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 454px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 23px;
    padding-bottom: 23px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
  }

  .u-section-1 .u-icon-1 {
    width: 33px;
    height: 33px;
    margin-top: 9px;
    margin-right: auto;
    margin-left: 117px;
  }

  .u-section-1 .u-icon-2 {
    width: 40px;
    height: 37px;
    margin-top: -35px;
  }

  .u-section-1 .u-icon-3 {
    width: 37px;
    height: 37px;
    margin-top: -37px;
    margin-right: 118px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 19px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 19px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 13px;
    margin-left: 19px;
  }
}